body {
    text-align: center;
    font-size: 2em;
}

.question {
    display: none;
}

.answer, .check {
    cursor: pointer;
}

.back, .forward {
    cursor: pointer;
    display: inline;
}

.checked {
    background-color: #eeffee;
}

.hover {
    background-color: #eeeeff;
}

.positive {
    background-color: #eeffee;
}

.negative {
    background-color: #ffeeee;
}

.positive, .negative {
    border-style: solid;
    border-color: #ffffff;
    font-size: 0.5em;
}

.field {
    text-align: right;
}

table {
    width: 100%;
    font-size: 0.5em;
}

td {
    border: 1px solid;
}
